---
title: Garage Born Jobs
---

%h1.header Jobs

%ul.jobs
- data.jobs.each do |job|
  %li
    = image_tag "/images/#{ job.icon }", class: 'image'
    = link_to job.title, job_path(job)
    %p= job.description
    = link_to  job_path(job), class: 'action' do
      %i.material-icons play_circle_filled
